/* ===========================
Media Queries 
============================== */

@media (min-width: 769px) {
    .main-header,
    .main-nav,
    .row,
    .portfolio-container {
        display: flex;
    }
    .main-header {
        flex-direction: column;
        align-items: center;
    }
    .col {
        flex: 1;
    }
    .portfolio-item {
        flex: 1 50%;
    }
    .portfolio-container {
        flex-wrap: wrap;
    }

}
@media (min-width: 1025px) {
    .main-header {
         flex-direction: row;
         justify-content: space-between;
    }
    .primary {
        flex: 2;
    }
    .portfolio-item {
        flex-basis: 0;
    }
}