/* ===========================
Media Queries 
============================== */

@media (min-width: 769px) {
    .main-header,
    .main-nav,
    #row,
    .portfolio-container,
    .main-footer {
        display: flex;
    }
    .main-header,
    .main-footer {
        flex-direction: column;
        align-items: center;
    }
  
    .col {   
        flex: 1;
    }
    .item {
        flex: 1 50%;
    }
    .portfolio-container {
        flex-wrap: wrap;
        flex-direction: column;

    }

}
@media (min-width: 1025px) {

    .main-header,
    .main-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .secondary {
        flex: 2;
    }
    .item {
        flex: 1 50%;
    }
    .portfolio-container{
        flex-direction: row;
        flex-wrap: wrap;
    }
 
}