.nav-container { 
    border: 2px solid red;
    display: inline-block;
}
.header-container{
    border: 2px dashed orange;
}
.portfolio-container {
    border: 2px dashed blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

}
.contact-container {
    border: 2px solid grey;
}
.footer{
    border: 2px solid red;
}

.img{
    
}